<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Project Upwork</title>
    <link rel="shortcut icon" href="/assets/images/logo.ico" />
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/sweetalert2.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"
        type="text/css" />
    <link href="/assets/css/selectric.css" rel="stylesheet" type="text/css" />

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="/assets/css/datatables.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/dataTables.bootstrap4.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/select.bootstrap4.min.css" type="text/css">
</head>